doctype HTML
html
  head
    title Welcome to siDance
    block style
    block scripts

      
  body
     nav#navbar.top
            ul
                div#logo
                     img(src="/static/logo.png", alt=""  hieght:50px)
                    

                li #[a(href="/") Home] 
                li #[a(href="/") About us]
                li #[a(href="/") Services]
                li #[a(href="/") batch info]
                li #[a(href="/contact") contact us]
                
     block content
         
     footer#footer
        | Copyright 2021 